version: "3.9"
services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: smartpick
    ports:
      - "5432:5432"

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  minio:
    image: minio/minio
    command: server /data
    environment:
      MINIO_ROOT_USER: minio_admin
      MINIO_ROOT_PASSWORD: minio_password
    ports:
      - "9000:9000"

  backend:
    build: ./backend
    environment:
      PORT: 4010
    depends_on:
      - db
      - redis
      - minio
    ports:
      - "4010:4010"

  vision-service:
    build: ./vision-service
    depends_on:
      - backend
      - minio

  frontend:
    build: ./frontend
    environment:
      PORT: 3000
    depends_on:
      - backend
    ports:
      - "3000:3000"
