body,html {
  margin:0;
  overflow:hidden;
  background:#000;
}

#hud {
  position:fixed;
  bottom:10px;
  width:100%;
  display:flex;
  justify-content:center;
  gap:12px;
}

#hud button {
  padding:10px 18px;
  background:#00a8ff;
  border:none;
  border-radius:8px;
  color:#fff;
  font-size:14px;
  font-weight:bold;
  box-shadow:0 2px 4px rgba(0,0,0,0.4);
}